@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bowlby+One+SC&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";


@theme {

    /* Colores Web */
    --color-primary: #111C1F;
    --color-secondary: #223F47; 
    --color-tertiary: #376572;

    /* Colores Buttons */
    --color-buttonImportant: #CC2936; 
    --color-buttonSecondary: #E2DBBE;

    /* Fuentes */
    --font-Primary: "Rubik" san-serif;
    --font-Secondary: "Archivo", sans-serif;
    --font-Tertiary: "Bowlby One SC", sans-serif;

}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}


html {
    scroll-behavior: smooth;

}